<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808172057324-432t118rmom0pe0mcggjdln16jg37j6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808172057324-432t118rmom0pe0mcggjdln16jg37j6d</string>
	<key>API_KEY</key>
	<string>AIzaSyDyPdPtYjBmRMcJMm5NHnCvpKfnnsR0YM8</string>
	<key>GCM_SENDER_ID</key>
	<string>808172057324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pivo.deltaplan.deltaplan</string>
	<key>PROJECT_ID</key>
	<string>deltaplan-8c8fe</string>
	<key>STORAGE_BUCKET</key>
	<string>deltaplan-8c8fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808172057324:ios:75c9eb1acf8cdffd3eebc9</string>
</dict>
</plist>